/* 
  Descricao: Guia de estilo para landing page Meus Pedidos
  Autor: Bruno Luiz Albano
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/****************************************************/

/* Estilo do layout 

Guia de estilos

Cor principal: #5695e2
Cor de fundo: #fff
Cor de fundo secundária: #2964a5
Cor de texto para fundo secundário: #fff
Cor dos textos: #646464
Cor de texto secundária: #6c809a
Cor de fundo dos botoes: #ffa10e
Cor do texto dos botoes: #fff
Cor dos links: #6c809a
Estilo dos links: underline

*/



body {
  color: #646464;
  font-family: 'open_sanslight';
  font-size: 18px;
  line-height: 120%;
}

h1,h2,h3,h4,h5 {
  font-family: 'open_sansbold';
  line-height: 120%;
}

h1 { 
  font-size: 1.8rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 7px; 
}

p {
  margin-bottom: 20px;
}

strong, b {
  font-family: 'open_sansbold';
}

a {
  color: #6c809a;
}

/* Custom GRIDS */

.mp-container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mp-columns {
  margin-left: -10px;
  margin-right: -10px;
}

.mp-columns:after {
  display: table;
  clear: both;
  content: "";
}

.mp-column {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.mp-col-one,
.mp-col-two,
.mp-col-three,
.mp-col-four
{
  position: relative;
}

.mp-ebook-image {
  max-width: 100%;
  height: auto;
}

.mp-ebook-sucess-image {
  text-align: center;
}

.mp-align-center {
  text-align: center;
}

/* Header */

.mp-header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mp-logo {
  margin-bottom: 20px;
}

.mp-header h1 {
  color: #5695e2;
}

/* Section */

.mp-section {
  background-color: #2964a5;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}


/* Footer */

.mp-footer {
  padding: 30px 0;
  font-size: 0.9rem;
}

.mp-link-phone {
  font-size: 1.7rem;
  color: #559bf6;
  text-decoration: none;
  font-family: 'open_sansbold';
}

.mp-address {
 margin: 15px 0;
}

.mp-icon-image {
  display: inline-block;
  margin-right: 5px;
}


/* Helpers */

.mp-menu {
  position: relative;
  overflow: hidden;
}

.mp-menu > a {
  float: left;
}

.mp-menu > a:after {
  content: "|";
  text-decoration: none;
}

.mp-menu > a:last-child:after {
  content: "";
}

.mp-lead {
  font-size: 1.3rem;
}

.mp-box-title {
  margin-bottom: 20px;
}

/* Formulario */

input[type="text"],input[type="email"],input[type="tel"] { 
  border: 0;
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
}

.mp-button {
  border: 0;
  padding: 20px 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'open_sansbold';
  float: right;
}

.mp-button-default {
  background-color: #ffa10e;
  color: #fff;
}

.mp-button-default:hover {
  background-color: #db8e15;
}

/* Responsivo */

/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (min-width: 768px) {
  
}
 
/* 
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {
  
  h1 { 
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  .mp-column {
    float: left;
    margin-bottom: 0;
  }

  .mp-col-one {
    width: 65%;
  }

  .mp-col-two {
    width: 55%;
  }

  .mp-col-three {
    width: 45%;
  }

  .mp-col-four {
    width: 35%;
  }
  
  .mp-ebook-image {
    position: absolute;
    right: -30px;
    top: -45px;
  }
  
  .mp-section {
    padding-top: 70px;
    padding-bottom: 25px;
  }
  
  .mp-box-title {
    margin-bottom: 40px; 
  }
  
  .mp-footer {
    padding: 60px 0;
  }
  
}
 
/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {
  
}


/****************************************************/

/* Fontes */

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

